header {
  height: 5rem;
  width: 100%;
  color: white;
  background: linear-gradient(to right, lightgreen, lightblue);
  box-shadow: rgba(118, 143, 255, 0.1) 0 1rem 1.5rem 0;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header button {
  position: absolute;
  right: 2rem;
}

.theme-switcher {
  height: 20px;
  width: 40px;
  background: white;
  color: black;
  border-radius: 10px;
  position: relative;
}

.switch {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: 0.2s;
}

.dark .switch {
  left: 20px;
}
