* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  width: 100vw;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 5rem;
}

.container {
  max-width: 74rem;
  margin: 0 auto;
  padding: 0 2rem;
}

main {
  background-color: #ffffff;
  width: 100%;
  padding: 2.5rem;
  margin-top: 4rem;
  border-radius: 6px;
  box-shadow: rgba(118, 143, 255, 0.1) 0 1rem 1.5rem 0;

  display: flex;
  align-items: start;
}

main h1 {
  margin-bottom: 1rem;
}

main p,
pre,
ul {
  margin-bottom: 0.75rem;
}

main blockquote {
  background: #eee;
  padding: 1rem;
  border-left: 0.5rem solid lightgreen;
  margin: 1rem 0;

  display: flex;
  gap: 1rem;
}

main blockquote > p {
  margin: 0;
  display: flex;
  align-items: center;
}

li {
  list-style-position: inside;
}

main code {
  background: #eee;
  padding: 0.5rem;
}

.toolbar {
  border-right: 1px solid #eee;
  padding: 0 2rem 0 0;
  margin-right: 2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-wrap: wrap;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

main button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main button span {
  text-align: left;
  font-size: 1rem;
}

.editor-container {
  width: 100%;
}

.dark-theme {
  background: #171923;
  color: white;
}

.dark-theme-main {
  background: #2d3748;
  box-shadow: none;
}

.dark-theme button {
  color: white;
}

.dark-theme blockquote {
  color: black;
}

.dark-theme main blockquote,
.dark-theme main code {
  background: #718096;
}

@media (max-width: 992px) {
  html {
    font-size: 93.75%;
  }

  main {
    flex-direction: column;
  }

  .toolbar {
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #eee;
    border-right: 0;
    padding: 0 0 1rem;
    margin-bottom: 1rem;
  }

  main button span {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 87.5%;
  }

  .container {
    padding: 0 1rem;
  }
}
